html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: linear-gradient(120deg, #fafafa 0%, #eeeeee 50%, #dcdcdc 100%);
}

header{
  position: fixed;
  z-index: 1000;
  width: 100%;
  
}

nav {
    display: flex;
    gap: 300px;
    height: 80px;
}

.menu {
    align-items: center;     
    justify-content: center;
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu a {
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  font-size: 35px;
  text-decoration: none;
  padding: 8px 12px;
}

nav img {
    margin-top: 15px;
    width: 80px;
    height: 50px;
    margin-left: 50px;
}

section {
    min-height: 100vh;
    padding: 100px 40px 40px;
    box-sizing: border-box;
    scroll-margin-top: 70px;
}

#inicio {
.inicio {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.info-inicio {
    margin: 20px;
    margin-left: 50px;
    display: flex;
}

.texto-inicio {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 400px;
    width: 600px;
}

.text1-info{
    
    font-size: 100px;
    margin-bottom: 0;
}

.linha {
    font-size: 56px;
    width: 100%;
    margin-top: 0;
    line-height: 0;
}

.text-info {
    color: #B8B8B8;
}

.texto-inicio p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-top: 50px;
}

.img-inicio {
    margin-left: 400px;
}

.botoes1 {
   display: flex;
}

}



